{
  project_name: std.extVar('project_name'),
  project_basefolder: std.extVar('project_basefolder'),
  host_architecture: std.extVar('host_architecture'),
  orchestrator_name: std.extVar('orchestrator_name'),
  project_source_path: std.extVar('project_source_path'),
  project_domain: self.project_name + '.test',
  ansible_ssh_authorized_keys: [
    std.stripChars(importstr 'generated/assets/.ssh/id_ed25519.pub', '\n'),
  ],
  // Files path relative to project root directory
  ansible_files_path: 'platform/ansible',
  ansible_inventory_path: self.ansible_files_path + '/inventory',
  // Files path relative to project root directory
  kubernetes_files_path: 'kubernetes',
  admin_username: 'ubuntu',
  admin_passwd_hash: std.stripChars(importstr 'generated/assets/passwords/admin/hash', '\n'),
  admin_passwd_plain: std.stripChars(importstr 'generated/assets/passwords/admin/plain', '\n'),
  admin_ssh_authorized_keys: self.ansible_ssh_authorized_keys,
  admin_ssh_import_id: [
    // "gh:octocat",
  ],
  // // We are using only 1 network interface for now and will use multipass
  // // default settings (no need to configure the network).
  // network: {
  //   name: '%s-HON' % $.project_name,
  //   netmask: '255.255.255.0',
  //   lower_ip: '192.168.100.1',
  //   upper_ip: '192.168.100.100',
  // },
  // dns_servers: [
  //   '1.1.1.1',
  // ],
}
